<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CAS Cohort Cup Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/editor/rankings">Rankings</a></li>
      <li><a href="/editor/points">Edit Points</a></li>
      <li><a href="/editor/manage">Manage</a></li> 
    </ul>
  </div>
</nav>