<div class='header'>
    <h1 class='title'>CAS Cohort Cup Tracker</h1>
</div>

<div class="page-content" style="margin-top: 200px">
	<div class='button'><a href='/register'>REGISTER</a></div>
	<div class='button'><a href='/login'>LOGIN</a></h2></div>
</div>




