<!DOCTYPE html>
<html>
  <head>
    <title>Cohort Cup</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/date/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/js/Chart.js/Chart.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="/js/my-chart.js"></script>
  </body>
</html>

